@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@500&family=Mouse+Memoirs&display=swap");

$font-body: "Catamaran", sans-serif;
$font-display: "Mouse Memoirs", sans-serif;

$color-primary: midnightblue;
$color-secondary: cornflowerblue;
$color-black: #333333;
$color-white: #fafafa;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-body;
  color: $color-primary;
}

a:link,
a:visited {
  text-decoration: none;
}
