* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fefdf8;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  section {
    div {
      width: 100%;
    }
  }
}
