@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@500&family=Mouse+Memoirs&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fefdf8;
  font-family: "Catamaran", sans-serif;
  text-align: center;
  color: #3a3f6a;
}

a:link,
a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media screen and (max-width: 768px) {
  section {
    div {
      width: 100%;
    }
  }
}
