@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@500&family=Mouse+Memoirs&display=swap");
nav {
  display: flex;
  height: 10vh;
  justify-content: space-between;
}

button {
  margin: 40px;
  background: #3a3f6a;
  color: #fefdf8;
  border-radius: 10px;
  padding: 15px 60px;
  font-size: large;
}

.login {
  display: block;
  height: 60px;
  width: 100px;
  text-align: center;
  margin: 20px 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #fefdf8;
  color: #3a3f6a;
  font-weight: bolder;
  font-size: large;
  border: 2px solid #3a3f6a;
  justify-content: flex-end;
}

.tagline {
  margin: 20px;
  text-align: center;
  color: #81c6f5;
  font-weight: bolder;
  font-size: 30px;
}

.logo {
  display: block;
  align-items: center;
  height: 100%;
  justify-content: flex-start;
}

.header {
  margin: 20px;
  display: block;
  color: #3a3f6a;
  font-weight: bolder;
  font-size: 20px;
}

.youWillFind {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.youWillFind2 {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #f2edb9;
  color: #3a3f6a;
  padding: 40px;
  font-size: large;
  font-weight: bold;
}

.footer2 {
  margin: 10px;
  background: #f2edb9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fefdf8;
  font-family: "Catamaran", sans-serif;
  text-align: center;
  color: #3a3f6a;
}

a:link,
a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media screen and (max-width: 320px) {
  section div {
    width: 100%;
  }
}